body {
    padding-top:60px;
}

a:hover{
    cursor: pointer
}

[ui-sref]{
    cursor: pointer
}

/* hide spinner for inpu type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.thumbnails .caption {
    margin-left : 220px;
}

.thumbnails  img {
    padding-top: 20px;
    width: 160px;
}

.control-group input,.control-group textarea  {
    margin-left: 20px;
}

.control-group .help-block {
    margin-left: 180px;
}

.caption > div > label {
    display : inline-block;
}

.modal-loading {
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.4);
    position: fixed;
    top:0;
    left:0;
    display: flex;
    text-align: center;
}

.modal-loading > i {
    margin: auto;
}

.rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.rating .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.rating .star.filled {
    color: #fd0;
}
.rating.readonly .star.filled {
    color: #666;
}
.control-group .rating {
    margin-left: 20px;
    line-height: 20px;
    padding-top: 5px;
}