<!DOCTYPE html>
<html ng-app="angularMovieApp">
<head>
   <title>AngularMovie</title>
   <link rel="stylesheet" href="bower_components/bootstrap.css/css/bootstrap.min.css">
   <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
   <link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="mainController">

<!-- barre de navigation -->
<header class="navbar navbar-fixed-top">
   <div class="navbar-inner">
      <section class="container">
         <a class="brand" href="#/welcome">AngularMovie</a>
         <ul class="nav">
            <li><a href="#/movies">{{'app.main.mymovies' | translate}}</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="setLang('frFR')"><img src="img/fr.png" alt=""/></a></li>
            <li><a ng-click="setLang('enUS')"><img src="img/gb.png" alt=""/></a></li>
            <li ng-hide="logged"><a ng-click="login()">{{ 'app.common.login' | translate}}</a></li>
            <li ng-show="logged"><a ng-click="logout()">{{ 'app.common.logout' | translate}}</a></li>
         </ul>
      </section>
   </div>
</header>

<!-- partie principale -->
<div ng-show="loading" class="modal-loading text-center">
   <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>

<section class="container" ui-view></section>

<script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="bower_components/bootstrap.css/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular-translate/angular-translate.js"></script>
<script type="text/javascript" src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script type="text/javascript" src="js/movie/movie.module.js"></script>
<script type="text/javascript" src="js/movie/services.js"></script>
<script type="text/javascript" src="js/movie/Auth.service.js"></script>
<script type="text/javascript" src="js/movie/controllers.js"></script>
<script type="text/javascript" src="js/movie/login.controller.js"></script>
<script type="text/javascript" src="js/ui/ui.module.js"></script>
<script type="text/javascript" src="js/ui/filters.js"></script>
<script type="text/javascript" src="js/ui/directives.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>